{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": "standard",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "never"],
    "no-extra-semi": "error",
    "arrow-parens": ["off"],
    "compat/compat": "off",
    "consistent-return": "error",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "no-console": "off",
    "promise/param-names": "error",
    "promise/always-return": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "newline-per-chained-call": "off"
  }
}
